<div class="col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
    <br/>
    <h5>Master IN</h5>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link
      {% if page.url == '../master.md' %}
        active
      {% else %}
      {% endif %}
      " href="master">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link
      {% if page.url == '/master/files.md' %}
        active
      {% else %}
      {% endif %}
      " href="/master/files">Files</a>
    </li>
    <li class="nav-item">
      <a class="nav-link
      {% if page.url == '/master/contact.md' %}
        active
      {% else %}
      {% endif %}
      " href="/master/committees">Contact</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link
      {% if page.url == '/master/keynote.html' %}
        active
      {% else %}
      {% endif %}
      " href="/master/keynote">Platforms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link
      {% if page.url == '/master/proceeding.html' %}
        active
      {% else %}
      {% endif %}
      " href="/master/proceeding">Information</a>
    </li>
    <li class="nav-item">
      <a class="nav-link
      {% if page.url == '/master/sponsor.html' %}
        active
      {% else %}
      {% endif %}
      " href="/master/sponsor">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link
      {% if page.url == '/master/photo.html' %}
        active
      {% else %}
      {% endif %}
      " href="/master/photo">Photos</a>
    </li> -->
  </ul>
</div>
